.picpic {
	width: 72px;
	height: 72px;
	position: absolute;
	top: 0;
	left: 0;
}

.picBox .close_img {
	display: none;
	position: absolute;
	cursor: pointer;
}

.picBox {
	width: 72px;
	height: 72px;
	position: relative;
	float: left;
	margin-left: 20px;
}

.picF .picBox .close_img {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0px;
}
.picF {
	overflow: hidden;
}
